<header class="header" data-role="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
</header>

<div class="login">
  <h2>Log In</h2>
<%= form_tag sessions_path do %>
  <%= text_field_tag :username, nil, placeholder: "Username" %><br>
  <%= password_field_tag :password, nil, placeholder: "Password" %><br>
  <%= submit_tag "Log In" %>
<% end %>
  <p>Not a member?</p>
  <ul data-role="listview">
    <li><%= link_to "Sign Up", users_new_path %></li>
  </ul>
</div>

<footer class="footer" data-role="footer" data-position="fixed"><p>Disc Golf Scorecard &#169;</p></footer>
