<div class="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
  <div class="newgame">
      <%= link_to "New Game", games_path %>
  </div>
  <div class="signoff">
    <%= link_to "Log Out", log_out_path, method: :delete %>
  </div>
</div>

<div class="showscores">
    <div class="displayname">
      <h4><%= current_user.username.upcase %> Scores</h4>
    </div>

  <div class="table">
  <table>
    <div class="headers">
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Score</th>
      <th>Weather</th>
      <th> </th>
    </tr>
  </div>
      <% unless @scores.nil? %>
      <% @scores.each do |score| %>
    <tr>
      <div class="column">
        <td class="tablecolumn">
          <%= score.created_at.strftime("%b %d, 20%y") %>
        </td>
      </div>
      <div class="column">
        <td class="tablecolumn">
          <% if score.game %>
            <%= score.game.course %>
          <% end %>
        </td>
      </div>
      <div class="column">
        <td class="tablecolumn">
          <%= score.total_score %>
        </td>
      </div>
      <div class="column">
      <td class="tablecolumn">
        <p><%= @game.weather %><br>
        <%= @game.temperature %>&deg<br>
        <%= @game.wind %> mph</p>
      </td>
      <td class="tablecolumn">
          <%= form_for(@game, :html => { :method => :delete }) do |f| %>
          <%= f.submit "Delete" %>
          <% end %>
       </td>
    </div>
     </tr>
     <% end %>
    <% end %>
  </table>
  </div>
</div>
