<div class="header" data-role="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
  <div class="weather">
      <ul class="weatherlist">
        <li>Weather: <%= @game.weather %></li>
        <li>Temperature: <%= @game.temperature %>&deg</li>
        <li>Wind Speed: <%= @game.wind %> mph</li>
      </ul>
  </div>
</div>

<div class="enterscores">
<h4>Player Name:  <%= current_user.username.upcase %></h4>
<h4>Course Name:  <%= @game.course.upcase %></h4>

    <div class="scores">
      <%= form_for :score, url: game_scores_path(@game) do |f| %>
        <div class="smallforms">
          <p>Hole 1</p>
          <%= f.select(:hole_1, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 2</p>
          <%= f.select(:hole_2, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 3</p>
          <%= f.select(:hole_3, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 4</p>
          <%= f.select(:hole_4, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 5</p>
          <%= f.select(:hole_5, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 6</p>
          <%= f.select(:hole_6, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 7</p>
          <%= f.select(:hole_7, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 8</p>
          <%= f.select(:hole_8, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 9</p>
          <%= f.select(:hole_9, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 10</p>
          <%= f.select(:hole_10, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 11</p>
          <%= f.select(:hole_11, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
         <p>Hole 12</p>
          <%= f.select(:hole_12, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 13</p>
          <%= f.select(:hole_13, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 14</p>
          <%= f.select(:hole_14, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 15</p>
          <%= f.select(:hole_15, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 16</p>
          <%= f.select(:hole_16, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 17</p>
          <%= f.select(:hole_17, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="smallforms">
          <p>Hole 18</p>
          <%= f.select(:hole_18, options_for_select([ ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ])) %>
        </div>
        <div class="saveround">
          <%= f.submit("Save Round") %>
        </div>
      </form>
  </div>
<% end %>
</div>
<div class="footer" data-role="footer"><p>Disc Golf Scorecard &#169;</p></div>
