<div class="header" data-role="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>

  <div class="signoff">
    <%= link_to "Log Out", log_out_path, method: :delete %>
  </div>
</div>
<div class="creategame">
  <h3>Create New Game</h3>
  <%= form_for :game, url: games_path do |f| %>
    <p>
      <%= f.text_field :course, :placeholder => "Enter Course Name" %>
    </p>
    <p>
      <%= f.text_field :zipcode, :placeholder => "Enter Zipcode" %>
    </p>
  <div class="button">
    <p>
      <%= f.submit("Create Round")%>
    </p>
  </div>
  <% end %>
</div>

<div class="footer" data-role="footer" data-position="fixed"><p>Disc Golf Scorecard &#169;</p></div>
