<div class="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
</div>
<div class="creategame">
<h3>Create New Game</h3>

<%= form_for :game, url: games_path do |f| %>
  <p>
    <%= f.label :course %> Name:<br>
    <%= f.text_field :course, :placeholder => "Enter Course Name" %>
  </p>

  <!-- Not sure how to query API based on zipcode here... -->
  <p>
     <%= f.label :zip %> Code:<br>
     <%= f.text_field :zip, :placeholder => "Enter Zip Code" %>
  </p>
<div class="button">
  <p>
    <%= f.submit("Create Round")%>
  </p>
<% end %>
</div>
</div>
<div class="footer"></div>
