<div class="header"></div>
<div class="creategame">
<h3>Create New Game</h3>
<div class="forms">
<%= form_for :game do |f| %>
  <p>
    <%= f.label :course %> Name:<br>
    <%= f.text_field :course, :placeholder => "Enter Course Name" %>
  </p>

  <!-- Not sure how to query API based on zipcode here... -->
  <p>
     <%= f.label :zip %> Code:<br>
     <%= f.text_field :zip, :placeholder => "Enter Zip Code" %>
  </p>
<div class="button">
  <p>
    <%= f.submit("Create Round")%>
  </p>
</div>
<% end %>
</div>
</div>
<div class="footer"></div>
